[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
tenacity = "*"
tiktoken = "*"
openai = "*"
langchain = "*"
huggingface_hub = "*"
gpt4all = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"

